<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193674791500-nrecrjto8k4fpcvgpafo7pp1ib7s5esd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193674791500-nrecrjto8k4fpcvgpafo7pp1ib7s5esd</string>
	<key>API_KEY</key>
	<string>AIzaSyD0iC4UNc4N-E608gQlc0c1IVZowkMQaXU</string>
	<key>GCM_SENDER_ID</key>
	<string>193674791500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chouhan.Rohit.myCuisine</string>
	<key>PROJECT_ID</key>
	<string>mycuisine-9fd34</string>
	<key>STORAGE_BUCKET</key>
	<string>mycuisine-9fd34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193674791500:ios:3d2fc53820ac5f5d</string>
	<key>DATABASE_URL</key>
	<string>https://mycuisine-9fd34.firebaseio.com</string>
</dict>
</plist>