<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Host</key>
	<string>spoonacular-recipe-food-nutrition-v1.p.rapidapi.com</string>
	<key>Key</key>
	<string>e0e679c3d4msh7e172d41352b6b0p1e547ajsn1b2ad95c7ac2</string>
</dict>
</plist>
